@import url('https://fonts.googleapis.com/css?family=Courier+Prime&display=swap');
//Main theme colors for the site
$theme-color: #931621;
$theme-accent: #28464B;

//Main font for the site
$font:'Courier Prime', monospace;


$spacing: 2rem;